<h1>Hello World</h1>

<detail>
    <summary> Shopping Cart </summary>
    <ul>
        <% @cart.each do |prod| %>
            <li><%= prod.name %></li> - <%= link_to 'remove from cart', remove_from_cart_path(prod) , method: :delete %>
            <%= button_to 'buy now', checkout_create_path, method: :post, params: {id: prod.id}, remote: true %>
        <% end %>

    </ul>

</detail>


<h3>Recent Products</h3>
<% if @recent_products.present? %>
    <%= render partial: '/products/product', collection: @recent_products%>%
<% end %>

<h3>All Products</h3>
<% if @products.present? %>
    <%= render @products %>
<% end %>



<%= paginate @products %>