<div class="">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title"> <%= link_to product.name , product %> </p>
        </div>
        <div class="card-image">
            <% if product.image.present? %>
                <%= image_tag product.image %>
            <% end %>
        </div>

        <div class="card-content">
            <h5>Description: <%= product.description %> </h5>
            <h5>Price: <%= product.price %> </h5>
            <h5>Deliver: <%= product.delivery_cost %> </h5>
            <h5>WoodWorker: <%= product.woodworker.first_name %> </h5>
            <ul>
                <li><%= link_to product.categories[0].name, category_path(product.categories[0].id)%></li>
                <li><%= link_to product.categories[1].name, category_path(product.categories[1].id)%></li>
            </ul>
        </div>

        <div class="card-footer">
            <p> <%= link_to 'add to cart', add_to_cart_path(product.id), method: :post %> </p>
        </div>
    </div>
</div>

