<%= form_tag(products_path , method: "get") do |f| %>
  <%= label_tag(:search, "search") %>
  <%= text_field_tag(:search) %>

  <%= select_tag(:categories, options_from_collection_for_select(@categories, "id", "name"), include_blank: true) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @products.present? %>
  <div class="columns is-multiline">
    <%= render @products %>
  </div>
<% end %>



<%= paginate @products %>