<detail>
    <summary> Shopping Cart </summary>
    <ul>
        <% @cart.each do |prod| %>
            <li><%= prod.name%></li> -  <%= link_to 'remove from cart', remove_from_cart_path(prod) , method: :delete %>
        <% end %>
    </ul>

</detail>

<%= form_tag(products_path ,local: true, method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @products.present? %>
    <%= render @products %>
<% end %>



<%= paginate @products %>